html {
    background-color: #ffffff;
    font-family: arial, sans-serif;
}

#toolbar {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.toolbar-sub a {
    font-size: 13px;
    color: #343434;
    opacity: 0.87;
    text-decoration: none;

    margin: 10px;
}

#toolbar-left, #toolbar-right {
    display: flex;
    align-items: center;
}

#toolbar-right img {
    margin: 10px;
}

#toolbar-right #apps {
    border-radius: 0;
}

#toolbar-right #account {
    border-radius: 50%;
}

#logo {
    display: block;

    margin: 55px auto 0px auto;
    padding: 30px;
}

#search-bubble {
    height: 44px;
    width: 584px;

    position: relative;
    
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: auto;

    text-align: center;
}

#search-bubble img {
    position: relative;
    top: 8px;

    opacity: 0.3;
}

.search-field {
    width: 90%;
    height: 30px;

    border: none;

    position: relative;
    top: 6px;

    font-size: 16px;
}

#button-form {
    padding: 18px 0;

    text-align: center;
}

.buttons {
    height: 36px;
    
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;

    font-size: 14px;
    color: #5F6368;
}